JWT_ACCESS_SECRET=secret
JWT_REFRESH_SECRET=secretRefresh

RABBIT_USER=admin
RABBIT_PASSWORD=test
RABBIT_HOST=localhost
RABBIT_USERS_SERVICE_QUEUE=subscribe

UPLOAD_DESTINATION='./upload'

PORT=3333
HOST=localhost